body {
  background-color:#191970;
  font-family: Times New Roman;
}

header {
  text-align: center;
  color: #395e64;
  padding: 3%;
  background-color:#6495ED;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  text-decoration: none;
  font-family: ¨Times New Roman¨;
  float: none;
}

a:link, a:visited {
  background-color: #6495ED;
  color: black;
  border: 2px blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #850b1f;
}

body {
  font-family: Georgia;
  margin-bottom: 2%;
}

ul, li {
  text-align: left;
  font-family: ¨Times New Roman¨;
  text-decoration: none;
  float: none;
 }

li{
  text-align: left;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

section {
  padding: 2%;
  max-width: 800px;
  margin: 2% auto;
  background-color: #E0FFFF;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.subheading {
  font-weight: bold;
  float: none;
}

.recipe {
  font-family: "Times New Roman";
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:  #6495ED;
  width: 25%;
  padding: 1%;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  float: none;
}

.center {
  text-align: center;
}
